body{
    max-width: 2400px;
    /*background-color: aquamarine;*/
}

.letter{
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    /*float: left;*/
    display: inline-block;
    width: 22.9px;
    height: 100px;
    /*width: 92px;*/
    /*height: 399px;*/
    background-image: url("../img/lettres.png");
    background-size: 150px 100px;
    /*background-size: 600px 400px;*/
    background-repeat: no-repeat;
}
.square{
    background-position: top left;
}
.long-bottom{
    /*width: 92px;*/
    background-position: -23px 0px;
    /*background-position: -92px 0px;*/
}
.long-top{
    background-position: -46.2px 0px;
    /*background-position: -184px 0px;*/
}
.long{
    background-position: -69.2px 0px;
    /*background-position: -276px 3px;*/
}
.accent{
    background-position: -92.1px 0px;
    /*background-position: -368.3px 0px;*/
}

.space{
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    /*float: left;*/
    display: inline-block;
    width: 20px;
    /*width: 100px;*/
    /*height: 396px;*/
    background: white;
}

.punctuation{
    width: 15px;
    /*width: 60px;*/
    background-position: -138px 3px;
    /*background-position: -553px 3px;*/
}

.cedilla{
    background-position: -115px 0px;
    /*background-position: -460px 0px;*/

}