body{
    max-width: 2400px;
}

/*CSS for boxes display after translation*/
.letter{
    margin-right: -3px;
    margin-bottom: 5px;
    margin-top: 4px;
    display: inline-block;
    width: 19.9px;
    height: 100px;
    background-image: url("../img/dessin.png");
    background-size: 168px 100px;
    background-repeat: no-repeat;
}
.square{
    width: 23.7px;
    background-position: top left;
}
.long-bottom{
    width: 13.6px;
    background-position: -23.6px 0px;
    margin-top: 8px;
}
.long-top{
    background-position: -36.7px 0px;
    width: 14px;
}
.long{
    background-position: -50.4px 0px;
    width: 14px;
}
.accent{
    background-position: -64.1px 0px;
    width: 20.4px;
}

.space{
    /*margin-right: 5px;*/
    /*margin-bottom: 5px;*/
    margin-top: 5px;
    display: inline-block;
    width: 20px;
    /*background: white;*/
    background-position: -145px 0px;
}

.punctuation{
    width: 7px;
    background-position: -104.4px 0px;
}

.upperKase{
    width: 22px;
    background-position: -111px 0px;
}

.cedilla{
    background-position: -84.5px 0px;
    width: 19.8px;
}

/*page home*/
.backgroundHome{
    background-color: #12005e;
    color: white;
}

.w3-input{
    height: 200px;
}

/*page results*/

.backgroundResult{
    margin: 30px;
    display: block;
}

.titleResult{
    margin-top: 80px;
    display: block;
}

.infos-client {
    display: block;
    text-align: center;
}

.legend-item {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.legend-item p{
    margin-left: 5px;
}
.legend {
    display: flex;
    align-items: center;
    border: solid 2px orange;
    padding-left: 20px;
    width: 1073px;
}

.returnKase {
    display: block;
    width: 0px;
    height: 0px;
}

/*.translatedText{*/
/*    background-image: url("../img/lignesSeyes.jpg");*/
/*    height: 4000px;*/
/*    background-repeat: repeat;*/
/*    background-size: 954px;*/
/*}*/

.w3-padding-large.lines{
    padding-top: 56px !important;
}
