{% extends 'base.html.twig' %}

{% block title %}New Content{% endblock %}

{% block body %}
    <!-- Header -->
    <header class="w3-display-container w3-content w3-hide-small" style="max-width:1500px">
        <img class="w3-image" src="/img/newContentBack.jpg" alt="London" width="1500" height="700">
        <div class="w3-display-middle" style="width:65%">
            <div class="w3-bar w3-red">
                <button class="w3-bar-item"><i class="fa fa-pencil w3-margin-right"></i>Créer un nouveau contenu</button>
            </div>

            <!-- Tabs -->
            <div id="newText" class="w3-container w3-white w3-padding-16 myLink">
                <h3>Copiez votre texte ici</h3>
                <div class="w3-row-padding" style="margin:0 -16px;">
                    {{ form_start(form) }}

                    {{ form_widget(form.Text) }}
                    {{ form_errors(form.Text) }}

                    <button type="submit" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Ajouter</button>
                    <div class="clearfix"></div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>


    </header>

{% endblock %}
