{% extends 'base.html.twig' %}

{% block body %}
    <div class="backgroundResult">

        <h4 class="w3-padding-large titleResult">Le texte suivant a été traduit : </h4>
        <p class="w3-padding-large">{{ text }}</p>

        <div class="w3-padding-large translatedText">
        {% for word in arraySentence %}
            {% for letter in word %}
                {% for oneLetter in letter %}
                    <div class="letter {{ oneLetter }}"></div>
                {% endfor %}
                <div class="space"></div>
            {% endfor %}
        {% endfor %}
        </div>
    </div>
{% endblock %}
