{% extends 'base.html.twig' %}

{% block body %}
    <h4>Le texte suivant sera traduit : </h4>
    <p>{{ text }}</p>
    {% for word in arraySentence %}
        {% for letter in word %}
            <div class="letter {{ letter }}"></div>

        {% endfor %}
        <div></div>
    {% endfor %}
{% endblock %}
